body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
hr{
  background-color: white;
  border-style: dotted none none ;
  height: 0;
  width:5%;
  border-color: lightgrey;
  border-width: 6px;
  margin-top:4%;

}

.bg-img{
  position:absolute;
  z-index:2;
  width:100%;
}

.header{
  background-color: hsl(192, 100%,80%);
  position:relative;
  padding-bottom: 150px;
}

.feat-img{
  width:60%;
}

.body1{
  width:90%;
  margin-left:10%;
  margin-top:5%;
}
.sub-heading{
  padding-top:6%;
  padding-right:12%;
}

.Bestbutton {
  color: #FF51C0;
  border-color: #FF51C0;
}

.Bestbutton:hover {
  color: #fafafa;
  background-color: #FF51C0;
  border-color: #f8f9fa;
}

.Bestbutton:focus, .Bestbutton.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.Bestbutton.disabled, .Bestbutton:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.Bestbutton:not(:disabled):not(.disabled):active, .Bestbutton:not(:disabled):not(.disabled).active,
.show > .Bestbutton.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.Bestbutton:not(:disabled):not(.disabled):active:focus, .Bestbutton:not(:disabled):not(.disabled).active:focus,
.show > .Bestbutton.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
